body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a{
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #2a2a2a;
    transition: all 0.3s ease 0s;
    padding: 8px 15px;
    border-radius: 18px;
    letter-spacing: 1px;
}
header div a:hover{
    color: #fff;
    background-color: #7453fc;
}
header .createYours{
    color: #ffffff;
    background-color: #7453fc;
    transition: all 0.3s ease 0s;
    border-radius: 18px;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header div img{
    width: 180px;
}
.container{
    padding: 0 150px;
}
.mainPart{
    background-image: url(./images/heading-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 250px 0px 120px 0px;
}
title{
    color: #fff;
}
.title h3{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}
.title h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.title span{
    color: #8a75da;
    font-size: 15px;
}
.title a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.secondPart{
    background-image: url(./images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.secondPart .row{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.secondPart .row .image{
    flex-basis: 32%;
}
.secondPart .row img{
    width: 100%;
    height: auto;
    margin-right: 30px;
    border-radius: 30px;
    margin-top: -100px;
}
.hoverEffect{
    position: absolute;
    bottom: 30px;
    padding: 30px 40px;
    border-radius: 20px;
    border: 1px solid rgba(64, 66, 69, 0.9);
    background-color: rgba(40, 43, 47, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.hoverEffect .content h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 0px;
    color: #fff;
    font-weight: 700;
}
.hoverEffect .content span{
    color: #8a75da;
    font-size: 15px;
    display: flex;
    margin-bottom: 0px;
}
.hoverEffect .content span img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    display: block;
}
.hoverEffect .content span h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 15px;
}
.hoverEffect .content span a{
    color: #7453fc;
    font-weight: 700;
    margin-top: 5px;
}
.image:hover  .hoverEffect{
    visibility: visible;
    opacity: 1;
    left: 13%;
    bottom: -200px;
}

/* second img */
.secondPart .row .secondImage{
    flex-basis: 32%;
}
.hoverEffectTwo{
    position: absolute;
    bottom: 30px;
    padding: 30px 40px;
    border-radius: 20px;
    border: 1px solid rgba(64, 66, 69, 0.9);
    background-color: rgba(40, 43, 47, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.hoverEffectTwo .content h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 0px;
    color: #fff;
    font-weight: 700;
}
.hoverEffectTwo .content span{
    color: #8a75da;
    font-size: 15px;
    display: flex;
    margin-bottom: 0px;
}
.hoverEffectTwo .content span img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    display: block;
}
.hoverEffectTwo .content span h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 15px;
}
.hoverEffectTwo .content span a{
    color: #7453fc;
    font-weight: 700;
    margin-top: 5px;
}
.secondImage:hover  .hoverEffectTwo{
    visibility: visible;
    opacity: 1;
    left: 45%;
    bottom: -200px;
}
/* thirdImage */
.secondPart .row .thirdImage{
    flex-basis: 32%;
}
.hoverEffectThree{
    position: absolute;
    bottom: 30px;
    padding: 30px 40px;
    border-radius: 20px;
    border: 1px solid rgba(64, 66, 69, 0.9);
    background-color: rgba(40, 43, 47, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.hoverEffectThree .content h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 0px;
    color: #fff;
    font-weight: 700;
}
.hoverEffectThree .content span{
    color: #8a75da;
    font-size: 15px;
    display: flex;
    margin-bottom: 0px;
}
.hoverEffectThree .content span img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    display: block;
}
.hoverEffectThree .content span h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 15px;
}
.hoverEffectThree .content span a{
    color: #7453fc;
    font-weight: 700;
    margin-top: 5px;
}
.thirdImage:hover  .hoverEffectThree{
    visibility: visible;
    opacity: 1;
    left: 77%;
    bottom: -200px;
}
.hoverEffectThree .content span{
    display: flex;
}
.text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.text span{
    color: #8a75da;
    font-size: 30px;
}
.text::before {
    position: absolute;
    content: "";
    background-color: #7453fc;
    height: 3px;
    width: 150px;
    left: 110px;
    margin: auto;
    margin-top: 30px;

}
.text .container{
    padding: 20px 80px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    column-gap: 15px;
    align-items: center;
}
.inputs .searchText{
    width: 33.33%;
}
.inputs input{
    width: 100%;
    height: 46px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 23px;
    background-color: transparent;
    padding: 0px 15px;
    font-size: 14px;
    color: #fff;
}
.inputs select{
    width: 25%;
}
details {
    display: none;
}

.inputs select{
    width: 40%;
    height: 46px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 23px;
    background-color: transparent;
    padding: 0px 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
    align-items: center;
}
.inputs option{
    background-color: #2a2a2a;
    color: #ffffff;
}
.inputs button{
    border-radius: 25px;
    background-color: #7453fc;
    color: #fff;
    height: 46px;
    width: 20%;
    transition: 1s;
}
.inputs button h4{
    margin: 0;
    font-size: 14px;
}
.inputs button:hover{
    color: #7453fc;
    background-color: #fff;
}
.discoverItems .container{
    padding: 0 80px;
}
.discoverItems .row{
    display: flex;
    flex-wrap: wrap;
}
.discoverItems .row .firstType{
    width: 50%;
}
.discoverItems .row .firstType .item{
    background-color: #282b2f;
    border: 1px solid #404245;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 52px;
}
.discoverItems .row .firstType .item .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.discoverItems .row .firstType .item .row .colOne{
    width: 100%;
}
.discoverItems .row .firstType .item .row .colOne span{
    font-size: 15px;
    background-color: #7453fc;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    display: inline-block;
    position: absolute;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%);
    top: -16px;
}
.discoverItems .row .firstType .item .row .colTwo{
    width: 45%;
    padding: 0 12px;
}
.discoverItems .row .firstType .item .row .colTwo .author img{
    max-width: 50px; 
    max-height: 50px; 
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.discoverItems .row .firstType .item .row .colTwo span{
    display: inline-flex;
    width: 100%;
}
.discoverItems .row .firstType .item .row .colTwo img{
    margin-top: -32px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    height: 222px;
}
.discoverItems .row .firstType .item .row .colTwo h4{
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}
.discoverItems .row .firstType .item .row .colOne .line{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    margin: 30px 0px;
}
.discoverItems .row .firstType .item .row .colOne .row{
    display: flex;
    flex-wrap: wrap;
}
.discoverItems .row .firstType .item .row .colOne .row .textCol{
    width: 20%;
    padding: 0 12px;
}
.discoverItems .row .firstType .item .row .colOne .row .textCol h3{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}
.discoverItems .row .firstType .item .row .colOne .row .textCol h2{
    font-size: 20px;
    color: #ffffff;
    margin-top: 0;
}
.discoverItems .row .firstType .item .row .colOne .mainButton{
    margin-top: 20px;
    margin-bottom: -60px;
    text-align: center;
}
.discoverItems .row .firstType .item .row .colOne .mainButton a{
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: 1.5s;
}
.discoverItems .row .firstType .item .row .colOne .mainButton a:hover{
    background-color: #ffffff;
    color: #7453fc;
}
.discoverItems .row .firstType .item .colOne .mainButton a::after{
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.discoverItems .row .secondType{
    width: 23%;
}
.discoverItems .row .secondType .item{
    background-color: #282b2f;
    border: 1px solid #404245;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 52px;
}
.discoverItems .row .secondType .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.discoverItems .row .secondType .row .col{
    width: 100%;
}
.discoverItems .row .secondType .row .col span{
    display: inline-flex;
    width: 100%;
}
.discoverItems .row .secondType .item .row .col span img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
}
.discoverItems .row .secondType .item .row .col img{
    margin-top: -32px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    height: 222px;
}
.discoverItems .row .secondType .item .row .col h4{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}
.discoverItems .row .secondType .item .row .col .line{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    margin: 30px 0px;
}
.discoverItems .row .secondType .item .row .col .row .textCol{
    width: 40%;
}
.discoverItems .row .secondType .item .row .col .row .textCol h3{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}
.discoverItems .row .secondType .item .row .col .row .textCol h2{
    font-size: 20px;
    color: #ffffff;
    margin-top: 0;
}
.discoverItems .row .secondType .item .row .col .mainButton{
    margin-top: 20px;
    margin-bottom: -60px;
    text-align: center;
}
.discoverItems .row .secondType .item .row .col .mainButton a{
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: 1.5s;
}
.discoverItems .row .secondType .item .row .col .mainButton a:hover{
    background-color: #ffffff;
    color: #7453fc;
}
.discoverItems .row .secondType .item .col .mainButton a::after{
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.thirdPart{
    background-image: url(./images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 120px 0px 120px 0px;
}
.thirdPart .row{
    display: flex;
    flex-wrap: wrap;
}
.thirdPart .title h3{
    color: #ffffff;
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 100px;
}
.thirdPart .title h3::before{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 150px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -30px;
}
.thirdPart .row .col{
    width: 24%;
}
.thirdPart .row .col .item{
    display: flex;
}
.thirdPart .row .col .item h4{
    font-size: 20px;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}
.thirdPart .row .col .item img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
} 
.thirdPart .row .col .item h6{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
}
footer{
    background: linear-gradient(132deg, rgba(125,90,254,1) 25%, rgba(160,84,244,1) 100%);
    text-align: center;
    padding: 25px 0px;
}
footer .row{
    text-align: center;
    display: block;
}
footer .row h1{
    color: #ffffff;
    font-size: 22px;
}

@media screen and (max-width:762px){
    body{
        overflow-x: hidden;
    }
    header details {
        display: block;
    }
    header{
        flex-direction: column;
    }
    .menu{
        display: none;
    }
    details summary img {
        width: 80px;
    }
    details ul{
        list-style-type: none;
    }
    summary::marker {
        color: #ffffff;
    }
    .container{
        padding: 0 20px;
    }
    .text .container{
        padding: 0 20px;
    }
    .secondPart .row{
        flex-direction: column;
    }
    .secondPart .row img{
        margin: 0;
        margin-bottom: 10px;
    }
    .inputs{
        flex-direction: column;
    }
    .inputs .searchText , .inputs select , .inputs select , .inputs button{
        width: 100%;
        margin-bottom: 20px;
    }
    .discoverItems .container{
        padding: 0 20px;
    }
    .discoverItems .row .firstType , .discoverItems .row .secondType{
        width: 100%;
    }
    .discoverItems .row .firstType .item .row .colTwo{
        padding: 0;
        width: 100%;
    }
    .discoverItems .row .firstType .item .row .colOne .row .textCol{
        width: 100%;
        padding: 0;
    }
    .discoverItems .row .secondType .item .row .col .row .textCol{
        width: 100%;
    }
    .thirdPart .row{
        flex-direction: column;
    }
    .thirdPart .row .col{
        width: 100%;
        margin: 0 30px 40px 30px;
    }
}