body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a{
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #2a2a2a;
    transition: all 0.3s ease 0s;
    padding: 8px 15px;
    border-radius: 18px;
    letter-spacing: 1px;
}
header div a:hover{
    color: #fff;
    background-color: #7453fc;
}
details {
    display: none;
}

header .createYours{
    color: #ffffff;
    background-color: #7453fc;
    transition: all 0.3s ease 0s;
    border-radius: 18px;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header div img{
    width: 180px;
}
.container{
    padding: 0 150px;
}
.mainPart{
    background-image: url(./images/heading-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 250px 0px 120px 0px;
}
title{
    color: #fff;
}
.title h3{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}
.title h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.title span{
    color: #8a75da;
    font-size: 15px;
}
.title a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.yourItem {
    display: flex;
    justify-content: space-between;
}
.yourItem img{
    border-radius: 20px;
}
.info{
    margin-left: 30px;
    flex-basis: 47%;
}
.info h4{
    font-size: 20px;
    margin-bottom: 25px;
    color: #ffffff;
}
.info h6 a{
    color: #7453fc;
    font-weight: 700;
    margin-top: 5px;
    text-decoration: none;
}
.authur{
    display: flex;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 15px;
}
.authur img{
    margin-right: 15px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.authur h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
}
.info{
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row .bid{
    width: 25%;
}
.row .bid p{
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.row .bid span{
    font-size: 20px;
    color: #7453fc;
    margin-bottom: 0;
}
.row .owner{
    width: 33%;
}
.row .owner p{
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.row .owner span{
    font-size: 20px;
    color: #7453fc;
    margin-bottom: 0;
}
.row .endsIn{
    width: 41%;
}
.row .endsIn p{
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.row .endsIn span{
    font-size: 20px;
    color: #7453fc;
    margin-bottom: 0;
}
.text{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
}
.text h1{
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}
.text span{
    color: #7453fc;
}
.text::before {
    position: absolute;
    content: "";
    background-color: #8a75da;
    height: 3px;
    width: 150px;
    left: 0;
    right: 0;
    margin: auto; 
    margin-top: -30px;
}
.submit{
    margin-top: 40px;
}
.submit label{
    color: #afafaf;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.submit input{
    width: 100px;
    height: 46px;
    border: 1px solid #7453fc;
    outline: none;
    border-radius: 23px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin-right: 15px;
}
.submit button{
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    transition: 1s;
}
.submit button:after {
    width: 50%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.submit button:hover{
    background-color: #fff;
    color: #7453fc;
    border: 1px solid #fff;
}
.secondPart{
    background-image: url(./images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    position: relative;
}
.createNft{
    background-image: url(./images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
}
.createNft .row{
    display: flex;
    flex-wrap: wrap;
}
.createNft .row .secondTitle{
    width: 66.66666667%;
}
.createNft .row .secondTitle .secondText{
    text-align: left;
    margin-bottom: 50px;
}
.createNft .row .secondTitle .secondText h2{
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}
.createNft .row .secondTitle .secondText::before{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 150px;
    left: 150px;
    right: 0;
    margin-top: -30px;
}
.createNft .row .colOne{
    width: 33.3333%;
}
.createNft .row .colOne .mainButton{
    text-align: right;
}
.createNft .row .colOne .mainButton a{
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: 1s;
}
.createNft .row .colOne .mainButton a:after {
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.createNft .row .colOne .mainButton a:hover{
    background-color: #fff;
    color: #7453fc;
    border: 1px solid #fff;
}
.colOne .item{
    margin-top: 30px;
    position: relative;
    padding: 10px;
}
.colOne .item:after {
    position: absolute;
    width: 2px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    right: 5px;
    top: 5%;
}
.colOne .item .number{
    position: absolute;
    right: 0;
    top: -20px;
}
.colOne .item .number h6{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}
.colOne .item .icon{
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: #fff;
    border-radius: 50%;
}
.colOne .item .icon img{
    vertical-align: middle;
}
.colOne .item h4{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
}
.colOne .item p{
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.secondCol{
    width: 33.3333%;
}
.secondCol .item{
    margin-top: 30px;
    position: relative;
    padding: 10px;
}
.secondCol .item .number{
    position: absolute;
    right: 0;
    top: -20px;
}
.secondCol .item .number h6{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}
.secondCol .item .icon{
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: #fff;
    border-radius: 50%;
}
.secondCol .item .icon img{
    vertical-align: middle;
}
.secondCol .item h4{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
}
.secondCol .item p{
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.row .textCol{
    width: 50%;
}
.row .textCol .miniHeading h4{
    background-color: #7453fc;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 22px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
}

.row .textCol div select{
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}
.row .textCol div select option{
    background-color: #afafaf;
    border: 1px solid #afafaf;
}
.row .infoCol{
    width: 31%;
    margin: 0 10px;
}
.row .infoCol .item{
    position: relative;
    z-index: 2;
    margin-top: 30px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: #282b2f;
    border: 1px solid #404245;
}
.row .infoCol .item .leftImg{
    flex-basis: 80%;
    display: inline-flex;
}
.row .infoCol .item .rightContent{
    padding: 30px;
    width: 100%;
}
.row .infoCol .item .rightContent h4{
    font-size: 20px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
    margin-top: 0;
}
.row .infoCol .item .rightContent a{
    font-size: 15px;
    color: #7453fc;
    font-weight: 700;
    text-decoration: none;
}
.row .infoCol .item .rightContent h6{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #fff;
    margin-top: 0;
}
.row .infoCol .item .rightContent h6 span{
    font-size: 18px;
    color: #7453fc;
    font-style: normal;
    font-weight: 700;
}
.row .infoCol .item .rightContent span{
    font-size: 15px;
    color: #7453fc;
}
.row .infoCol .item  .line{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    margin: 30px 0px;
}
footer{
    background: linear-gradient(132deg, rgba(125,90,254,1) 25%, rgba(160,84,244,1) 100%);
    text-align: center;
    padding: 25px 0px;
}
footer .row{
    text-align: center;
    display: block;
}
footer .row h1{
    color: #ffffff;
    font-size: 22px;
}
@media screen and (max-width:762px){
    body{
        overflow-x: hidden;
    }
    header details {
        display: block;
    }
    header{
        flex-direction: column;
    }
    .menu{
        display: none;
    }
    details summary img {
        width: 80px;
    }
    details ul{
        list-style-type: none;
    }
    summary::marker {
        color: #ffffff;
    }
    .container{
        padding: 0 20px;
    }
    .yourItem{
        flex-direction: column;
    }
    .yourItem img{
        width: 100%;
    }
    .row .textCol{
        width: 100%;
    }
    .row .infoCol{
        margin: 0;
        width: 100%;
    }
    .createNft .row .secondTitle{
        width: 100%;
    }
    .createNft .row .secondTitle .secondText::before{
        left: 100px;
    }
    .createNft .row .colOne{
        width: 100%;
    }
    .createNft .row .colOne .mainButton{
        text-align: center;
    }
    .colOne .item:after{
        display: none;
    }
    .colOne .item .number{
        display: none;
    }
    .colOne .item{
        text-align: center;
    }
    .secondCol{
        width: 100%;
    }
    .secondCol .item{
        text-align: center;
    }
    .submit button{
        margin-top: 30px;
    }
    .row .bid{
        width: 50%;
    }
    .row .owner{
        width: 50%;
    }
    .row .endsIn{
        width: 60%;
        margin-top: 30px;
    }
}